<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>City:</strong>
  <%= @job.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @job.state %>
</p>

<p>
  <strong>Lat/long:</strong>
  <%= @job.latitude %>, 
  <%= @job.longitude %>
</p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@job.latitude}%2C#{@job.longitude}" %>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @job.is_active %>
</p>

<p>
  <strong>Is internal:</strong>
  <%= @job.is_internal %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @job.requirements %>
</p>

<p>
  <strong>Is remote:</strong>
  <%= @job.is_remote %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @job.hourly_rate %>
</p>

<p>
  <strong>User:</strong>
  <%= @job.user.email %>
  <%= distance_of_time_in_words(Time.now, @job.user.created_at) %>
</p>

<%= link_to 'Apply', new_application_path(:id => @job.id) %> |
<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
