<%= simple_form_for(@vehicle) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :category %>
    <%= f.association :features , as: :check_boxes %>
    <%= f.input :color %>
    <%= f.input :condition %>
    <%= f.input :price %>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
