<p id="notice"><%= notice %></p>

<h1>Listing Applications</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Job</th>
      <th>Resume</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Coverletter</th>
      <th>Opt in</th>
      <th>Street address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.email %></td>
        <td><%= application.job_id %></td>
        <td><%= application.resume %></td>
        <td><%= application.firstname %></td>
        <td><%= application.lastname %></td>
        <td><%= application.coverletter %></td>
        <td><%= application.opt_in %></td>
        <td><%= application.street_address %></td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
