<p id="notice"><%= notice %></p>

<p>
  <strong>Video:</strong>
  <%= @tag.video_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
