<p id="notice"><%= notice %></p>

<h1>Listing Sauces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sauces.each do |sauce| %>
      <tr>
        <td><%= sauce.name %></td>
        <td><%= sauce.description %></td>
        <td><%= sauce.color %></td>
        <td><%= link_to 'Show', sauce, class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_sauce_path(sauce), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', sauce, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sauce', new_sauce_path, class: 'btn btn-primary btn-xs' %>
